* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.text {
  text-transform: uppercase;
}

.logo {
  width: 150px;
}

.nav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
transform: translateX(0);
}

.nav-black {
  background-color: rgb(34, 31, 31);
  width: 60%;
  max-width: 480;
  min-width: 320;
}

.nav-red {
  background-color: rgb(229, 9, 20);
  width: 95%;
}

.nav-white {
  background-color: #fff;
  width: 95%;
  padding: 40px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 30px;
  opacity: 0.3;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  list-style: none;
  padding-left: 20px;
}




























































