* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}